<p>Todos os dereitos reservados &copy;2025 <a href="https://www.bitsolto.com">bitsolto.com</a></p>


<style>
    p {
        text-align: center;
        font-size: 0.8em;
        color: #666;
        margin: 1em 0;
    }

    a {
        color: #0070f3;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }  
</style>