<header class="flex justify-between mx-auto items-center p-6">
    <img src="./logotipo.svg" alt="Logotipo da marca" class="h-8" />

    <nav class="flex flex-row gap-10 text-md opacity-85">
        <a href="/">Home</a>
        <a href="/about">Sobre min</a>
        <a href="/projects">Proxectos</a>
        <a href="/contact">Contacto</a>
    </nav>
</header>
